<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.5.1/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.5.1/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_fc49c0a473ae4bfe93152fbc5d2415f2 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_fc49c0a473ae4bfe93152fbc5d2415f2" ></div>
        
</body>
<script>    
    
            var map_fc49c0a473ae4bfe93152fbc5d2415f2 = L.map(
                "map_fc49c0a473ae4bfe93152fbc5d2415f2",
                {
                    center: [39.21957070048458, -94.60270442968064],
                    crs: L.CRS.EPSG3857,
                    zoom: 5,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_df7e861ebc804a6e9d23c53a110cb53e = L.tileLayer(
                "https://cartodb-basemaps-{s}.global.ssl.fastly.net/dark_all/{z}/{x}/{y}.png",
                {"attribution": "\u0026copy; \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors \u0026copy; \u003ca href=\"http://cartodb.com/attributions\"\u003eCartoDB\u003c/a\u003e, CartoDB \u003ca href =\"http://cartodb.com/attributions\"\u003eattributions\u003c/a\u003e", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_fc49c0a473ae4bfe93152fbc5d2415f2);
        
    
            var circle_67877dd519f14be7a29bc4e8808b6c04 = L.circle(
                [32.767, -96.783],
                {"bubblingMouseEvents": true, "color": "#034efc", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#034efc", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 70000.0, "stroke": true, "weight": 3}
            ).addTo(map_fc49c0a473ae4bfe93152fbc5d2415f2);
        
    
        var popup_80a9ca5cad774e5580c8e086cbe8efb2 = L.popup({"maxWidth": "100%"});

        
            var html_3b56a3b09ad846b6a38654584660a782 = $(`<div id="html_3b56a3b09ad846b6a38654584660a782" style="width: 100.0%; height: 100.0%;">Dallas-Fort Worth<br> Air Quality Depth: <b>35</b><br> Air Quality: <b>Good</b></div>`)[0];
            popup_80a9ca5cad774e5580c8e086cbe8efb2.setContent(html_3b56a3b09ad846b6a38654584660a782);
        

        circle_67877dd519f14be7a29bc4e8808b6c04.bindPopup(popup_80a9ca5cad774e5580c8e086cbe8efb2)
        ;

        
    
    
            var circle_aee33b8194db416fbdf4c86972776c29 = L.circle(
                [35.5847, -83.0623],
                {"bubblingMouseEvents": true, "color": "#034efc", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#034efc", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 80000.0, "stroke": true, "weight": 3}
            ).addTo(map_fc49c0a473ae4bfe93152fbc5d2415f2);
        
    
        var popup_8967772863d744ec99e439266aecee6e = L.popup({"maxWidth": "100%"});

        
            var html_4bb164af29214fb3b4421484f04e0cff = $(`<div id="html_4bb164af29214fb3b4421484f04e0cff" style="width: 100.0%; height: 100.0%;">Western Ridge Tops<br> Air Quality Depth: <b>40</b><br> Air Quality: <b>Good</b></div>`)[0];
            popup_8967772863d744ec99e439266aecee6e.setContent(html_4bb164af29214fb3b4421484f04e0cff);
        

        circle_aee33b8194db416fbdf4c86972776c29.bindPopup(popup_8967772863d744ec99e439266aecee6e)
        ;

        
    
    
            var circle_ad0f0736920f46e992165d58ac2c3fb4 = L.circle(
                [38.919, -77.013],
                {"bubblingMouseEvents": true, "color": "#034efc", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#034efc", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 76000.0, "stroke": true, "weight": 3}
            ).addTo(map_fc49c0a473ae4bfe93152fbc5d2415f2);
        
    
        var popup_de7ac504421045eb81d65fc353ae66fd = L.popup({"maxWidth": "100%"});

        
            var html_06ef792f65bc40798caad3818ecbd264 = $(`<div id="html_06ef792f65bc40798caad3818ecbd264" style="width: 100.0%; height: 100.0%;">Metropolitan Washington<br> Air Quality Depth: <b>38</b><br> Air Quality: <b>Good</b></div>`)[0];
            popup_de7ac504421045eb81d65fc353ae66fd.setContent(html_06ef792f65bc40798caad3818ecbd264);
        

        circle_ad0f0736920f46e992165d58ac2c3fb4.bindPopup(popup_de7ac504421045eb81d65fc353ae66fd)
        ;

        
    
    
            var circle_c6ac9455b3c74d17b6f0872ce7514e23 = L.circle(
                [41.7608, -87.8932],
                {"bubblingMouseEvents": true, "color": "#034efc", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#034efc", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 80000.0, "stroke": true, "weight": 3}
            ).addTo(map_fc49c0a473ae4bfe93152fbc5d2415f2);
        
    
        var popup_0a9e762b7b3647b495d1554cf4e12e72 = L.popup({"maxWidth": "100%"});

        
            var html_232da9f3aa8d4fb5ba843c79c355cdec = $(`<div id="html_232da9f3aa8d4fb5ba843c79c355cdec" style="width: 100.0%; height: 100.0%;">South West Suburbs (Chicago)<br> Air Quality Depth: <b>40</b><br> Air Quality: <b>Good</b></div>`)[0];
            popup_0a9e762b7b3647b495d1554cf4e12e72.setContent(html_232da9f3aa8d4fb5ba843c79c355cdec);
        

        circle_c6ac9455b3c74d17b6f0872ce7514e23.bindPopup(popup_0a9e762b7b3647b495d1554cf4e12e72)
        ;

        
    
    
            var circle_c2394d7632064cebb4efca3790bdac10 = L.circle(
                [45.2884, -121.7828],
                {"bubblingMouseEvents": true, "color": "#34eb5e", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#34eb5e", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 60000.0, "stroke": true, "weight": 3}
            ).addTo(map_fc49c0a473ae4bfe93152fbc5d2415f2);
        
    
        var popup_28fbdfcf637e4479a60992cab0b91426 = L.popup({"maxWidth": "100%"});

        
            var html_91b8ff116d6c4e3184dbb1f89c277608 = $(`<div id="html_91b8ff116d6c4e3184dbb1f89c277608" style="width: 100.0%; height: 100.0%;">Multorpor<br> Air Quality Depth: <b>30</b><br> Air Quality: <b>Very Heathy</b></div>`)[0];
            popup_28fbdfcf637e4479a60992cab0b91426.setContent(html_91b8ff116d6c4e3184dbb1f89c277608);
        

        circle_c2394d7632064cebb4efca3790bdac10.bindPopup(popup_28fbdfcf637e4479a60992cab0b91426)
        ;

        
    
    
            var circle_9ef84849a71b4c3689ab82e0fe86de37 = L.circle(
                [42.1617, -123.6484],
                {"bubblingMouseEvents": true, "color": "#34eb5e", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#34eb5e", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 50000.0, "stroke": true, "weight": 3}
            ).addTo(map_fc49c0a473ae4bfe93152fbc5d2415f2);
        
    
        var popup_3eb327c09b8947ff80dd82e19af8438a = L.popup({"maxWidth": "100%"});

        
            var html_62ccf864996948cbb23bfecb419603f5 = $(`<div id="html_62ccf864996948cbb23bfecb419603f5" style="width: 100.0%; height: 100.0%;">Cave Junction<br> Air Quality Depth: <b>25</b><br> Air Quality: <b>Very Heathy</b></div>`)[0];
            popup_3eb327c09b8947ff80dd82e19af8438a.setContent(html_62ccf864996948cbb23bfecb419603f5);
        

        circle_9ef84849a71b4c3689ab82e0fe86de37.bindPopup(popup_3eb327c09b8947ff80dd82e19af8438a)
        ;

        
    
    
            var circle_d34339152c084d9f803b68dff8e2ed81 = L.circle(
                [46.71, -92.51],
                {"bubblingMouseEvents": true, "color": "#34eb5e", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#34eb5e", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 30000.0, "stroke": true, "weight": 3}
            ).addTo(map_fc49c0a473ae4bfe93152fbc5d2415f2);
        
    
        var popup_d2e93667e15647b280c418f5b421b6c6 = L.popup({"maxWidth": "100%"});

        
            var html_535d8f88b015444f8af5ee26b6c77cec = $(`<div id="html_535d8f88b015444f8af5ee26b6c77cec" style="width: 100.0%; height: 100.0%;">Fond du Lac<br> Air Quality Depth: <b>15</b><br> Air Quality: <b>Very Heathy</b></div>`)[0];
            popup_d2e93667e15647b280c418f5b421b6c6.setContent(html_535d8f88b015444f8af5ee26b6c77cec);
        

        circle_d34339152c084d9f803b68dff8e2ed81.bindPopup(popup_d2e93667e15647b280c418f5b421b6c6)
        ;

        
    
    
            var circle_e4773afdc3094370b787dcb59551d45b = L.circle(
                [42.351, -71.051],
                {"bubblingMouseEvents": true, "color": "#34eb5e", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#34eb5e", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 20000.0, "stroke": true, "weight": 3}
            ).addTo(map_fc49c0a473ae4bfe93152fbc5d2415f2);
        
    
        var popup_8f7e5ed0551148ea9f21de6d05d852c7 = L.popup({"maxWidth": "100%"});

        
            var html_ce8eeaeacee84f0d958f8956bb8144db = $(`<div id="html_ce8eeaeacee84f0d958f8956bb8144db" style="width: 100.0%; height: 100.0%;">Boston<br> Air Quality Depth: <b>10</b><br> Air Quality: <b>Very Heathy</b></div>`)[0];
            popup_8f7e5ed0551148ea9f21de6d05d852c7.setContent(html_ce8eeaeacee84f0d958f8956bb8144db);
        

        circle_e4773afdc3094370b787dcb59551d45b.bindPopup(popup_8f7e5ed0551148ea9f21de6d05d852c7)
        ;

        
    
    
            var circle_3d09b6a8af784eaab5492ad0f6be89f5 = L.circle(
                [25.776, -80.211],
                {"bubblingMouseEvents": true, "color": "#034efc", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#034efc", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 80000.0, "stroke": true, "weight": 3}
            ).addTo(map_fc49c0a473ae4bfe93152fbc5d2415f2);
        
    
        var popup_800df67dc0a144b3b2ded1b418351b50 = L.popup({"maxWidth": "100%"});

        
            var html_dec5e084c0ca4acab7d0d63ddfec031c = $(`<div id="html_dec5e084c0ca4acab7d0d63ddfec031c" style="width: 100.0%; height: 100.0%;">Miami<br> Air Quality Depth: <b>40</b><br> Air Quality: <b>Good</b></div>`)[0];
            popup_800df67dc0a144b3b2ded1b418351b50.setContent(html_dec5e084c0ca4acab7d0d63ddfec031c);
        

        circle_3d09b6a8af784eaab5492ad0f6be89f5.bindPopup(popup_800df67dc0a144b3b2ded1b418351b50)
        ;

        
    
    
            var circle_5e8d1906fefd46aa8a55903d666055d1 = L.circle(
                [32.9783, -115.5383],
                {"bubblingMouseEvents": true, "color": "#034efc", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#034efc", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 66000.0, "stroke": true, "weight": 3}
            ).addTo(map_fc49c0a473ae4bfe93152fbc5d2415f2);
        
    
        var popup_9a03317c70a34c1fb307c55ce0c37ca4 = L.popup({"maxWidth": "100%"});

        
            var html_526f50debb03418d96f36aa8f168a165 = $(`<div id="html_526f50debb03418d96f36aa8f168a165" style="width: 100.0%; height: 100.0%;">Brawley<br> Air Quality Depth: <b>33</b><br> Air Quality: <b>Good</b></div>`)[0];
            popup_9a03317c70a34c1fb307c55ce0c37ca4.setContent(html_526f50debb03418d96f36aa8f168a165);
        

        circle_5e8d1906fefd46aa8a55903d666055d1.bindPopup(popup_9a03317c70a34c1fb307c55ce0c37ca4)
        ;

        
    
    
            var circle_1813697d423c440a8166be07eb2c582e = L.circle(
                [39.768, -104.873],
                {"bubblingMouseEvents": true, "color": "#34eb5e", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#34eb5e", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 44000.0, "stroke": true, "weight": 3}
            ).addTo(map_fc49c0a473ae4bfe93152fbc5d2415f2);
        
    
        var popup_72cb00042cd443fe9e3c96babec3d5d1 = L.popup({"maxWidth": "100%"});

        
            var html_23e538cd7dbe488c94c78f27d3a8d685 = $(`<div id="html_23e538cd7dbe488c94c78f27d3a8d685" style="width: 100.0%; height: 100.0%;">Denver/Boulder<br> Air Quality Depth: <b>22</b><br> Air Quality: <b>Very Heathy</b></div>`)[0];
            popup_72cb00042cd443fe9e3c96babec3d5d1.setContent(html_23e538cd7dbe488c94c78f27d3a8d685);
        

        circle_1813697d423c440a8166be07eb2c582e.bindPopup(popup_72cb00042cd443fe9e3c96babec3d5d1)
        ;

        
    
    
            var circle_ba0752ce9cf249a0a3cdf007d27389ff = L.circle(
                [32.767, -96.783],
                {"bubblingMouseEvents": true, "color": "#034efc", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#034efc", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 70000.0, "stroke": true, "weight": 3}
            ).addTo(map_fc49c0a473ae4bfe93152fbc5d2415f2);
        
    
        var popup_9c689df547f6406dba4312f7f4eb8d7b = L.popup({"maxWidth": "100%"});

        
            var html_d6122710b8374526adb8aa721c791548 = $(`<div id="html_d6122710b8374526adb8aa721c791548" style="width: 100.0%; height: 100.0%;">Dallas-Fort Worth<br> Air Quality Depth: <b>35</b><br> Air Quality: <b>Good</b></div>`)[0];
            popup_9c689df547f6406dba4312f7f4eb8d7b.setContent(html_d6122710b8374526adb8aa721c791548);
        

        circle_ba0752ce9cf249a0a3cdf007d27389ff.bindPopup(popup_9c689df547f6406dba4312f7f4eb8d7b)
        ;

        
    
    
            var circle_c81d49c81c4b46f8a2c527483a77fb62 = L.circle(
                [35.5847, -83.0623],
                {"bubblingMouseEvents": true, "color": "#034efc", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#034efc", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 80000.0, "stroke": true, "weight": 3}
            ).addTo(map_fc49c0a473ae4bfe93152fbc5d2415f2);
        
    
        var popup_6465a0b7f7af4dc0b7d2730bdb700ea6 = L.popup({"maxWidth": "100%"});

        
            var html_24b329261c824662bc9593be81ed334a = $(`<div id="html_24b329261c824662bc9593be81ed334a" style="width: 100.0%; height: 100.0%;">Western Ridge Tops<br> Air Quality Depth: <b>40</b><br> Air Quality: <b>Good</b></div>`)[0];
            popup_6465a0b7f7af4dc0b7d2730bdb700ea6.setContent(html_24b329261c824662bc9593be81ed334a);
        

        circle_c81d49c81c4b46f8a2c527483a77fb62.bindPopup(popup_6465a0b7f7af4dc0b7d2730bdb700ea6)
        ;

        
    
    
            var circle_059f52003b8a41ce89d97705fb96cd01 = L.circle(
                [38.919, -77.013],
                {"bubblingMouseEvents": true, "color": "#034efc", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#034efc", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 76000.0, "stroke": true, "weight": 3}
            ).addTo(map_fc49c0a473ae4bfe93152fbc5d2415f2);
        
    
        var popup_bc2ce87567e44d80ba935affcdcef189 = L.popup({"maxWidth": "100%"});

        
            var html_6c78d0cb530b4b53bbec3e233a05834d = $(`<div id="html_6c78d0cb530b4b53bbec3e233a05834d" style="width: 100.0%; height: 100.0%;">Metropolitan Washington<br> Air Quality Depth: <b>38</b><br> Air Quality: <b>Good</b></div>`)[0];
            popup_bc2ce87567e44d80ba935affcdcef189.setContent(html_6c78d0cb530b4b53bbec3e233a05834d);
        

        circle_059f52003b8a41ce89d97705fb96cd01.bindPopup(popup_bc2ce87567e44d80ba935affcdcef189)
        ;

        
    
    
            var circle_cd3acfaea8f445acb7522debd9227029 = L.circle(
                [41.7608, -87.8932],
                {"bubblingMouseEvents": true, "color": "#034efc", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#034efc", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 80000.0, "stroke": true, "weight": 3}
            ).addTo(map_fc49c0a473ae4bfe93152fbc5d2415f2);
        
    
        var popup_75d86e3d3877429f8a5ae3008cfdbcac = L.popup({"maxWidth": "100%"});

        
            var html_acc052852d014636b43c0fcb353b349f = $(`<div id="html_acc052852d014636b43c0fcb353b349f" style="width: 100.0%; height: 100.0%;">South West Suburbs (Chicago)<br> Air Quality Depth: <b>40</b><br> Air Quality: <b>Good</b></div>`)[0];
            popup_75d86e3d3877429f8a5ae3008cfdbcac.setContent(html_acc052852d014636b43c0fcb353b349f);
        

        circle_cd3acfaea8f445acb7522debd9227029.bindPopup(popup_75d86e3d3877429f8a5ae3008cfdbcac)
        ;

        
    
    
            var circle_e91c8f95b55b47f085538f8e79026b19 = L.circle(
                [45.2884, -121.7828],
                {"bubblingMouseEvents": true, "color": "#34eb5e", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#34eb5e", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 60000.0, "stroke": true, "weight": 3}
            ).addTo(map_fc49c0a473ae4bfe93152fbc5d2415f2);
        
    
        var popup_dd87605380bf4b4493eeca23ffa0aa24 = L.popup({"maxWidth": "100%"});

        
            var html_09a2d7689d29479e8ab7b00de382e4c5 = $(`<div id="html_09a2d7689d29479e8ab7b00de382e4c5" style="width: 100.0%; height: 100.0%;">Multorpor<br> Air Quality Depth: <b>30</b><br> Air Quality: <b>Very Heathy</b></div>`)[0];
            popup_dd87605380bf4b4493eeca23ffa0aa24.setContent(html_09a2d7689d29479e8ab7b00de382e4c5);
        

        circle_e91c8f95b55b47f085538f8e79026b19.bindPopup(popup_dd87605380bf4b4493eeca23ffa0aa24)
        ;

        
    
    
            var circle_56dcc973b14a49d395c057d68621913a = L.circle(
                [42.1617, -123.6484],
                {"bubblingMouseEvents": true, "color": "#34eb5e", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#34eb5e", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 50000.0, "stroke": true, "weight": 3}
            ).addTo(map_fc49c0a473ae4bfe93152fbc5d2415f2);
        
    
        var popup_5597136dee6e4f4ebde47e6b4fb0994c = L.popup({"maxWidth": "100%"});

        
            var html_82a302b2a8ba4cbda3f613af0da4622b = $(`<div id="html_82a302b2a8ba4cbda3f613af0da4622b" style="width: 100.0%; height: 100.0%;">Cave Junction<br> Air Quality Depth: <b>25</b><br> Air Quality: <b>Very Heathy</b></div>`)[0];
            popup_5597136dee6e4f4ebde47e6b4fb0994c.setContent(html_82a302b2a8ba4cbda3f613af0da4622b);
        

        circle_56dcc973b14a49d395c057d68621913a.bindPopup(popup_5597136dee6e4f4ebde47e6b4fb0994c)
        ;

        
    
    
            var circle_119d7dd0370b4e1a82fe8d9522c87b72 = L.circle(
                [46.71, -92.51],
                {"bubblingMouseEvents": true, "color": "#34eb5e", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#34eb5e", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 30000.0, "stroke": true, "weight": 3}
            ).addTo(map_fc49c0a473ae4bfe93152fbc5d2415f2);
        
    
        var popup_65cedb2856c24a668b5a75ed06d830d6 = L.popup({"maxWidth": "100%"});

        
            var html_d8512f7422544010a34752f3bb05afdc = $(`<div id="html_d8512f7422544010a34752f3bb05afdc" style="width: 100.0%; height: 100.0%;">Fond du Lac<br> Air Quality Depth: <b>15</b><br> Air Quality: <b>Very Heathy</b></div>`)[0];
            popup_65cedb2856c24a668b5a75ed06d830d6.setContent(html_d8512f7422544010a34752f3bb05afdc);
        

        circle_119d7dd0370b4e1a82fe8d9522c87b72.bindPopup(popup_65cedb2856c24a668b5a75ed06d830d6)
        ;

        
    
    
            var circle_4a64c9f3b50542db817f41a5b63f6a2f = L.circle(
                [42.351, -71.051],
                {"bubblingMouseEvents": true, "color": "#34eb5e", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#34eb5e", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 20000.0, "stroke": true, "weight": 3}
            ).addTo(map_fc49c0a473ae4bfe93152fbc5d2415f2);
        
    
        var popup_7587e186234440e290e023479bcc71bd = L.popup({"maxWidth": "100%"});

        
            var html_87860e4608934440ae96a1a90439eafd = $(`<div id="html_87860e4608934440ae96a1a90439eafd" style="width: 100.0%; height: 100.0%;">Boston<br> Air Quality Depth: <b>10</b><br> Air Quality: <b>Very Heathy</b></div>`)[0];
            popup_7587e186234440e290e023479bcc71bd.setContent(html_87860e4608934440ae96a1a90439eafd);
        

        circle_4a64c9f3b50542db817f41a5b63f6a2f.bindPopup(popup_7587e186234440e290e023479bcc71bd)
        ;

        
    
    
            var circle_1e991293fb09455ab78ffd101c6eecfc = L.circle(
                [25.776, -80.211],
                {"bubblingMouseEvents": true, "color": "#034efc", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#034efc", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 80000.0, "stroke": true, "weight": 3}
            ).addTo(map_fc49c0a473ae4bfe93152fbc5d2415f2);
        
    
        var popup_c92ad5647a3446a8b31b24c67c72018d = L.popup({"maxWidth": "100%"});

        
            var html_3771f851f07749f2aa1f939013558f7a = $(`<div id="html_3771f851f07749f2aa1f939013558f7a" style="width: 100.0%; height: 100.0%;">Miami<br> Air Quality Depth: <b>40</b><br> Air Quality: <b>Good</b></div>`)[0];
            popup_c92ad5647a3446a8b31b24c67c72018d.setContent(html_3771f851f07749f2aa1f939013558f7a);
        

        circle_1e991293fb09455ab78ffd101c6eecfc.bindPopup(popup_c92ad5647a3446a8b31b24c67c72018d)
        ;

        
    
    
            var circle_2e3aa2ef84e241eea77091f93533dad2 = L.circle(
                [32.9783, -115.5383],
                {"bubblingMouseEvents": true, "color": "#034efc", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#034efc", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 66000.0, "stroke": true, "weight": 3}
            ).addTo(map_fc49c0a473ae4bfe93152fbc5d2415f2);
        
    
        var popup_f96cc64f8c0244b8b30c614d50054e16 = L.popup({"maxWidth": "100%"});

        
            var html_0923aeb0e67e4f73918ab8c4316c1967 = $(`<div id="html_0923aeb0e67e4f73918ab8c4316c1967" style="width: 100.0%; height: 100.0%;">Brawley<br> Air Quality Depth: <b>33</b><br> Air Quality: <b>Good</b></div>`)[0];
            popup_f96cc64f8c0244b8b30c614d50054e16.setContent(html_0923aeb0e67e4f73918ab8c4316c1967);
        

        circle_2e3aa2ef84e241eea77091f93533dad2.bindPopup(popup_f96cc64f8c0244b8b30c614d50054e16)
        ;

        
    
    
            var circle_0c9a734e567f49fe98dc0bfd039243fb = L.circle(
                [39.768, -104.873],
                {"bubblingMouseEvents": true, "color": "#34eb5e", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#34eb5e", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 44000.0, "stroke": true, "weight": 3}
            ).addTo(map_fc49c0a473ae4bfe93152fbc5d2415f2);
        
    
        var popup_c95b4521e45746749e7a7222bac0e25b = L.popup({"maxWidth": "100%"});

        
            var html_3c90f7d7e9fc4990bdbcb16333772f91 = $(`<div id="html_3c90f7d7e9fc4990bdbcb16333772f91" style="width: 100.0%; height: 100.0%;">Denver/Boulder<br> Air Quality Depth: <b>22</b><br> Air Quality: <b>Very Heathy</b></div>`)[0];
            popup_c95b4521e45746749e7a7222bac0e25b.setContent(html_3c90f7d7e9fc4990bdbcb16333772f91);
        

        circle_0c9a734e567f49fe98dc0bfd039243fb.bindPopup(popup_c95b4521e45746749e7a7222bac0e25b)
        ;

        
    
</script>