<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.5.1/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.5.1/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_c3237971b6f14f42841c3e5bb0e632df {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_c3237971b6f14f42841c3e5bb0e632df" ></div>
        
</body>
<script>    
    
            var map_c3237971b6f14f42841c3e5bb0e632df = L.map(
                "map_c3237971b6f14f42841c3e5bb0e632df",
                {
                    center: [39.21957070048458, -94.60270442968064],
                    crs: L.CRS.EPSG3857,
                    zoom: 5,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_168d76d064234da6896c4df877bc07b0 = L.tileLayer(
                "https://cartodb-basemaps-{s}.global.ssl.fastly.net/dark_all/{z}/{x}/{y}.png",
                {"attribution": "\u0026copy; \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors \u0026copy; \u003ca href=\"http://cartodb.com/attributions\"\u003eCartoDB\u003c/a\u003e, CartoDB \u003ca href =\"http://cartodb.com/attributions\"\u003eattributions\u003c/a\u003e", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_c3237971b6f14f42841c3e5bb0e632df);
        
    
            var circle_443c150785ac470aab61da6cc9f97708 = L.circle(
                [32.767, -96.783],
                {"bubblingMouseEvents": true, "color": "#034efc", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#034efc", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 70000.0, "stroke": true, "weight": 3}
            ).addTo(map_c3237971b6f14f42841c3e5bb0e632df);
        
    
        var popup_64d57b4bd7fd4b9ba7017452ad3950b8 = L.popup({"maxWidth": "100%"});

        
            var html_9cb7588ef28e4ea49e89339e38df16c5 = $(`<div id="html_9cb7588ef28e4ea49e89339e38df16c5" style="width: 100.0%; height: 100.0%;">Dallas-Fort Worth<br> Air Quality Depth: <b>35</b><br> Air Quality: <b>Good</b></div>`)[0];
            popup_64d57b4bd7fd4b9ba7017452ad3950b8.setContent(html_9cb7588ef28e4ea49e89339e38df16c5);
        

        circle_443c150785ac470aab61da6cc9f97708.bindPopup(popup_64d57b4bd7fd4b9ba7017452ad3950b8)
        ;

        
    
    
            var circle_9dd2fa2b65bb4936938aaec348c3e0b2 = L.circle(
                [35.5847, -83.0623],
                {"bubblingMouseEvents": true, "color": "#034efc", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#034efc", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 80000.0, "stroke": true, "weight": 3}
            ).addTo(map_c3237971b6f14f42841c3e5bb0e632df);
        
    
        var popup_208cf17ed59d42efbdd1be9fe6ab0001 = L.popup({"maxWidth": "100%"});

        
            var html_31f1208ebd044481a1dd1e0e17978a5a = $(`<div id="html_31f1208ebd044481a1dd1e0e17978a5a" style="width: 100.0%; height: 100.0%;">Western Ridge Tops<br> Air Quality Depth: <b>40</b><br> Air Quality: <b>Good</b></div>`)[0];
            popup_208cf17ed59d42efbdd1be9fe6ab0001.setContent(html_31f1208ebd044481a1dd1e0e17978a5a);
        

        circle_9dd2fa2b65bb4936938aaec348c3e0b2.bindPopup(popup_208cf17ed59d42efbdd1be9fe6ab0001)
        ;

        
    
    
            var circle_593053dcaa3d4f7883957102c0dc7dff = L.circle(
                [38.919, -77.013],
                {"bubblingMouseEvents": true, "color": "#034efc", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#034efc", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 76000.0, "stroke": true, "weight": 3}
            ).addTo(map_c3237971b6f14f42841c3e5bb0e632df);
        
    
        var popup_b38edf51e343427f8de77bd5be7b6ff7 = L.popup({"maxWidth": "100%"});

        
            var html_952c7c4641134ce5add3742287c87181 = $(`<div id="html_952c7c4641134ce5add3742287c87181" style="width: 100.0%; height: 100.0%;">Metropolitan Washington<br> Air Quality Depth: <b>38</b><br> Air Quality: <b>Good</b></div>`)[0];
            popup_b38edf51e343427f8de77bd5be7b6ff7.setContent(html_952c7c4641134ce5add3742287c87181);
        

        circle_593053dcaa3d4f7883957102c0dc7dff.bindPopup(popup_b38edf51e343427f8de77bd5be7b6ff7)
        ;

        
    
    
            var circle_24f83a51fa2744d6ab9fc176cbadff46 = L.circle(
                [41.7608, -87.8932],
                {"bubblingMouseEvents": true, "color": "#034efc", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#034efc", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 80000.0, "stroke": true, "weight": 3}
            ).addTo(map_c3237971b6f14f42841c3e5bb0e632df);
        
    
        var popup_7a9e255db9bc41ba98921bdfd22afd0a = L.popup({"maxWidth": "100%"});

        
            var html_d4076880e08145ee8d121bc279a4056c = $(`<div id="html_d4076880e08145ee8d121bc279a4056c" style="width: 100.0%; height: 100.0%;">South West Suburbs (Chicago)<br> Air Quality Depth: <b>40</b><br> Air Quality: <b>Good</b></div>`)[0];
            popup_7a9e255db9bc41ba98921bdfd22afd0a.setContent(html_d4076880e08145ee8d121bc279a4056c);
        

        circle_24f83a51fa2744d6ab9fc176cbadff46.bindPopup(popup_7a9e255db9bc41ba98921bdfd22afd0a)
        ;

        
    
    
            var circle_2555baac40154e7fbde4fae5589155af = L.circle(
                [45.2884, -121.7828],
                {"bubblingMouseEvents": true, "color": "#34eb5e", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#34eb5e", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 60000.0, "stroke": true, "weight": 3}
            ).addTo(map_c3237971b6f14f42841c3e5bb0e632df);
        
    
        var popup_1b1de5f522f64cf881bc40f56d9c1076 = L.popup({"maxWidth": "100%"});

        
            var html_9a15d613b9224915b0e070b2f4ee86e4 = $(`<div id="html_9a15d613b9224915b0e070b2f4ee86e4" style="width: 100.0%; height: 100.0%;">Multorpor<br> Air Quality Depth: <b>30</b><br> Air Quality: <b>Very Heathy</b></div>`)[0];
            popup_1b1de5f522f64cf881bc40f56d9c1076.setContent(html_9a15d613b9224915b0e070b2f4ee86e4);
        

        circle_2555baac40154e7fbde4fae5589155af.bindPopup(popup_1b1de5f522f64cf881bc40f56d9c1076)
        ;

        
    
    
            var circle_719121077efa4cdfa346418b6f3e2eb4 = L.circle(
                [42.1617, -123.6484],
                {"bubblingMouseEvents": true, "color": "#34eb5e", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#34eb5e", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 50000.0, "stroke": true, "weight": 3}
            ).addTo(map_c3237971b6f14f42841c3e5bb0e632df);
        
    
        var popup_87141f051efb459db81821f7417a3c17 = L.popup({"maxWidth": "100%"});

        
            var html_1c58b2df8a40496ea09812e5ceb5eb80 = $(`<div id="html_1c58b2df8a40496ea09812e5ceb5eb80" style="width: 100.0%; height: 100.0%;">Cave Junction<br> Air Quality Depth: <b>25</b><br> Air Quality: <b>Very Heathy</b></div>`)[0];
            popup_87141f051efb459db81821f7417a3c17.setContent(html_1c58b2df8a40496ea09812e5ceb5eb80);
        

        circle_719121077efa4cdfa346418b6f3e2eb4.bindPopup(popup_87141f051efb459db81821f7417a3c17)
        ;

        
    
    
            var circle_c007f1fe8a4d4f549121cc486ef5834c = L.circle(
                [46.71, -92.51],
                {"bubblingMouseEvents": true, "color": "#34eb5e", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#34eb5e", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 30000.0, "stroke": true, "weight": 3}
            ).addTo(map_c3237971b6f14f42841c3e5bb0e632df);
        
    
        var popup_589c3a1e21044404b14513a82f8eea1f = L.popup({"maxWidth": "100%"});

        
            var html_fd960aa2de4c42ba97ffec9dd9aba086 = $(`<div id="html_fd960aa2de4c42ba97ffec9dd9aba086" style="width: 100.0%; height: 100.0%;">Fond du Lac<br> Air Quality Depth: <b>15</b><br> Air Quality: <b>Very Heathy</b></div>`)[0];
            popup_589c3a1e21044404b14513a82f8eea1f.setContent(html_fd960aa2de4c42ba97ffec9dd9aba086);
        

        circle_c007f1fe8a4d4f549121cc486ef5834c.bindPopup(popup_589c3a1e21044404b14513a82f8eea1f)
        ;

        
    
    
            var circle_89d113ca2cd14bd3b96d861c66130c54 = L.circle(
                [42.351, -71.051],
                {"bubblingMouseEvents": true, "color": "#34eb5e", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#34eb5e", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 20000.0, "stroke": true, "weight": 3}
            ).addTo(map_c3237971b6f14f42841c3e5bb0e632df);
        
    
        var popup_891d16a2379a483fb0ab310a15da419b = L.popup({"maxWidth": "100%"});

        
            var html_0e34f8bbf5a144cb8d7cb3955f0489f4 = $(`<div id="html_0e34f8bbf5a144cb8d7cb3955f0489f4" style="width: 100.0%; height: 100.0%;">Boston<br> Air Quality Depth: <b>10</b><br> Air Quality: <b>Very Heathy</b></div>`)[0];
            popup_891d16a2379a483fb0ab310a15da419b.setContent(html_0e34f8bbf5a144cb8d7cb3955f0489f4);
        

        circle_89d113ca2cd14bd3b96d861c66130c54.bindPopup(popup_891d16a2379a483fb0ab310a15da419b)
        ;

        
    
    
            var circle_9d00e14b60be4805a6a2817ba5ebaffa = L.circle(
                [25.776, -80.211],
                {"bubblingMouseEvents": true, "color": "#034efc", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#034efc", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 80000.0, "stroke": true, "weight": 3}
            ).addTo(map_c3237971b6f14f42841c3e5bb0e632df);
        
    
        var popup_268d80738fc040db80477991fbb6c255 = L.popup({"maxWidth": "100%"});

        
            var html_997972f0911b4262a3c38288472c4eda = $(`<div id="html_997972f0911b4262a3c38288472c4eda" style="width: 100.0%; height: 100.0%;">Miami<br> Air Quality Depth: <b>40</b><br> Air Quality: <b>Good</b></div>`)[0];
            popup_268d80738fc040db80477991fbb6c255.setContent(html_997972f0911b4262a3c38288472c4eda);
        

        circle_9d00e14b60be4805a6a2817ba5ebaffa.bindPopup(popup_268d80738fc040db80477991fbb6c255)
        ;

        
    
    
            var circle_c0fc690c243a4e04ac772a27904e36db = L.circle(
                [32.9783, -115.5383],
                {"bubblingMouseEvents": true, "color": "#034efc", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#034efc", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 66000.0, "stroke": true, "weight": 3}
            ).addTo(map_c3237971b6f14f42841c3e5bb0e632df);
        
    
        var popup_46b159c96e0c41aa99cb3f4d0b8f35ff = L.popup({"maxWidth": "100%"});

        
            var html_19f544ec7cf74b27b7e824c533c4f413 = $(`<div id="html_19f544ec7cf74b27b7e824c533c4f413" style="width: 100.0%; height: 100.0%;">Brawley<br> Air Quality Depth: <b>33</b><br> Air Quality: <b>Good</b></div>`)[0];
            popup_46b159c96e0c41aa99cb3f4d0b8f35ff.setContent(html_19f544ec7cf74b27b7e824c533c4f413);
        

        circle_c0fc690c243a4e04ac772a27904e36db.bindPopup(popup_46b159c96e0c41aa99cb3f4d0b8f35ff)
        ;

        
    
    
            var circle_e26563c5a1c942adb278e21520416420 = L.circle(
                [39.768, -104.873],
                {"bubblingMouseEvents": true, "color": "#34eb5e", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#34eb5e", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 44000.0, "stroke": true, "weight": 3}
            ).addTo(map_c3237971b6f14f42841c3e5bb0e632df);
        
    
        var popup_037facc1e0f74db386318c20882e6228 = L.popup({"maxWidth": "100%"});

        
            var html_63455852d7784dd38dcd0ace6977e927 = $(`<div id="html_63455852d7784dd38dcd0ace6977e927" style="width: 100.0%; height: 100.0%;">Denver/Boulder<br> Air Quality Depth: <b>22</b><br> Air Quality: <b>Very Heathy</b></div>`)[0];
            popup_037facc1e0f74db386318c20882e6228.setContent(html_63455852d7784dd38dcd0ace6977e927);
        

        circle_e26563c5a1c942adb278e21520416420.bindPopup(popup_037facc1e0f74db386318c20882e6228)
        ;

        
    
    
            var circle_de324e90ee5547dc96fe986a2c00ace4 = L.circle(
                [32.767, -96.783],
                {"bubblingMouseEvents": true, "color": "#034efc", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#034efc", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 70000.0, "stroke": true, "weight": 3}
            ).addTo(map_c3237971b6f14f42841c3e5bb0e632df);
        
    
        var popup_906a0268a4ad4df1aed49b75b48973db = L.popup({"maxWidth": "100%"});

        
            var html_69de54e2441d490a92e9c26a5dd33dcd = $(`<div id="html_69de54e2441d490a92e9c26a5dd33dcd" style="width: 100.0%; height: 100.0%;">Dallas-Fort Worth<br> Air Quality Depth: <b>35</b><br> Air Quality: <b>Good</b></div>`)[0];
            popup_906a0268a4ad4df1aed49b75b48973db.setContent(html_69de54e2441d490a92e9c26a5dd33dcd);
        

        circle_de324e90ee5547dc96fe986a2c00ace4.bindPopup(popup_906a0268a4ad4df1aed49b75b48973db)
        ;

        
    
    
            var circle_404e52c8ad5446e5b36719e95018361b = L.circle(
                [35.5847, -83.0623],
                {"bubblingMouseEvents": true, "color": "#034efc", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#034efc", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 80000.0, "stroke": true, "weight": 3}
            ).addTo(map_c3237971b6f14f42841c3e5bb0e632df);
        
    
        var popup_94802f2b270f458e86c083f74529a265 = L.popup({"maxWidth": "100%"});

        
            var html_8fb78e4ad41e401aadcd0828b246ab61 = $(`<div id="html_8fb78e4ad41e401aadcd0828b246ab61" style="width: 100.0%; height: 100.0%;">Western Ridge Tops<br> Air Quality Depth: <b>40</b><br> Air Quality: <b>Good</b></div>`)[0];
            popup_94802f2b270f458e86c083f74529a265.setContent(html_8fb78e4ad41e401aadcd0828b246ab61);
        

        circle_404e52c8ad5446e5b36719e95018361b.bindPopup(popup_94802f2b270f458e86c083f74529a265)
        ;

        
    
    
            var circle_218efcaa4bc0473c92185eb47960881b = L.circle(
                [38.919, -77.013],
                {"bubblingMouseEvents": true, "color": "#034efc", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#034efc", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 76000.0, "stroke": true, "weight": 3}
            ).addTo(map_c3237971b6f14f42841c3e5bb0e632df);
        
    
        var popup_7ae541ca4f7a44faa8bcc3640835f44b = L.popup({"maxWidth": "100%"});

        
            var html_04bbd655569c45b7a4c7d989cf14f563 = $(`<div id="html_04bbd655569c45b7a4c7d989cf14f563" style="width: 100.0%; height: 100.0%;">Metropolitan Washington<br> Air Quality Depth: <b>38</b><br> Air Quality: <b>Good</b></div>`)[0];
            popup_7ae541ca4f7a44faa8bcc3640835f44b.setContent(html_04bbd655569c45b7a4c7d989cf14f563);
        

        circle_218efcaa4bc0473c92185eb47960881b.bindPopup(popup_7ae541ca4f7a44faa8bcc3640835f44b)
        ;

        
    
    
            var circle_80d96ef6d28c410398290d4496e7cbe4 = L.circle(
                [41.7608, -87.8932],
                {"bubblingMouseEvents": true, "color": "#034efc", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#034efc", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 80000.0, "stroke": true, "weight": 3}
            ).addTo(map_c3237971b6f14f42841c3e5bb0e632df);
        
    
        var popup_fe167709f8f3456790402737fab06785 = L.popup({"maxWidth": "100%"});

        
            var html_8a4c370012e8485bb04793e8f0a010e3 = $(`<div id="html_8a4c370012e8485bb04793e8f0a010e3" style="width: 100.0%; height: 100.0%;">South West Suburbs (Chicago)<br> Air Quality Depth: <b>40</b><br> Air Quality: <b>Good</b></div>`)[0];
            popup_fe167709f8f3456790402737fab06785.setContent(html_8a4c370012e8485bb04793e8f0a010e3);
        

        circle_80d96ef6d28c410398290d4496e7cbe4.bindPopup(popup_fe167709f8f3456790402737fab06785)
        ;

        
    
    
            var circle_4a8a48c5141c40a9a1969478848ee66a = L.circle(
                [45.2884, -121.7828],
                {"bubblingMouseEvents": true, "color": "#34eb5e", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#34eb5e", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 60000.0, "stroke": true, "weight": 3}
            ).addTo(map_c3237971b6f14f42841c3e5bb0e632df);
        
    
        var popup_61973297e50c43418af41ddead69253d = L.popup({"maxWidth": "100%"});

        
            var html_c6c28774bf6b457388a3a28d0f9f5270 = $(`<div id="html_c6c28774bf6b457388a3a28d0f9f5270" style="width: 100.0%; height: 100.0%;">Multorpor<br> Air Quality Depth: <b>30</b><br> Air Quality: <b>Very Heathy</b></div>`)[0];
            popup_61973297e50c43418af41ddead69253d.setContent(html_c6c28774bf6b457388a3a28d0f9f5270);
        

        circle_4a8a48c5141c40a9a1969478848ee66a.bindPopup(popup_61973297e50c43418af41ddead69253d)
        ;

        
    
    
            var circle_fd08e1387a6941c99e4b6ed7c698797d = L.circle(
                [42.1617, -123.6484],
                {"bubblingMouseEvents": true, "color": "#34eb5e", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#34eb5e", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 50000.0, "stroke": true, "weight": 3}
            ).addTo(map_c3237971b6f14f42841c3e5bb0e632df);
        
    
        var popup_bace6335adac4b25afa354d895532f30 = L.popup({"maxWidth": "100%"});

        
            var html_b41f6c663ac0494a9727f8521450a090 = $(`<div id="html_b41f6c663ac0494a9727f8521450a090" style="width: 100.0%; height: 100.0%;">Cave Junction<br> Air Quality Depth: <b>25</b><br> Air Quality: <b>Very Heathy</b></div>`)[0];
            popup_bace6335adac4b25afa354d895532f30.setContent(html_b41f6c663ac0494a9727f8521450a090);
        

        circle_fd08e1387a6941c99e4b6ed7c698797d.bindPopup(popup_bace6335adac4b25afa354d895532f30)
        ;

        
    
    
            var circle_715b48ba79dd410394db6727451a85e0 = L.circle(
                [46.71, -92.51],
                {"bubblingMouseEvents": true, "color": "#34eb5e", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#34eb5e", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 30000.0, "stroke": true, "weight": 3}
            ).addTo(map_c3237971b6f14f42841c3e5bb0e632df);
        
    
        var popup_9e97f28a4f6e432789c6fc17d95bc5e3 = L.popup({"maxWidth": "100%"});

        
            var html_42663cc924874b7fbab4294b15faea68 = $(`<div id="html_42663cc924874b7fbab4294b15faea68" style="width: 100.0%; height: 100.0%;">Fond du Lac<br> Air Quality Depth: <b>15</b><br> Air Quality: <b>Very Heathy</b></div>`)[0];
            popup_9e97f28a4f6e432789c6fc17d95bc5e3.setContent(html_42663cc924874b7fbab4294b15faea68);
        

        circle_715b48ba79dd410394db6727451a85e0.bindPopup(popup_9e97f28a4f6e432789c6fc17d95bc5e3)
        ;

        
    
    
            var circle_2e56bb64d1104790b0dc6912bf8d4ffe = L.circle(
                [42.351, -71.051],
                {"bubblingMouseEvents": true, "color": "#34eb5e", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#34eb5e", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 20000.0, "stroke": true, "weight": 3}
            ).addTo(map_c3237971b6f14f42841c3e5bb0e632df);
        
    
        var popup_7f4ecfad0e584ac8a48d542dde1348bb = L.popup({"maxWidth": "100%"});

        
            var html_1fa948c68c224a528caee2b36e2085a9 = $(`<div id="html_1fa948c68c224a528caee2b36e2085a9" style="width: 100.0%; height: 100.0%;">Boston<br> Air Quality Depth: <b>10</b><br> Air Quality: <b>Very Heathy</b></div>`)[0];
            popup_7f4ecfad0e584ac8a48d542dde1348bb.setContent(html_1fa948c68c224a528caee2b36e2085a9);
        

        circle_2e56bb64d1104790b0dc6912bf8d4ffe.bindPopup(popup_7f4ecfad0e584ac8a48d542dde1348bb)
        ;

        
    
    
            var circle_7cca41dcf3a948bbb10bf25801a0dc5b = L.circle(
                [25.776, -80.211],
                {"bubblingMouseEvents": true, "color": "#034efc", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#034efc", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 80000.0, "stroke": true, "weight": 3}
            ).addTo(map_c3237971b6f14f42841c3e5bb0e632df);
        
    
        var popup_0e90b3f79f3f4d3abbae965e2178bc5b = L.popup({"maxWidth": "100%"});

        
            var html_ea99d61ad9cd40f4a0504e0536535f2f = $(`<div id="html_ea99d61ad9cd40f4a0504e0536535f2f" style="width: 100.0%; height: 100.0%;">Miami<br> Air Quality Depth: <b>40</b><br> Air Quality: <b>Good</b></div>`)[0];
            popup_0e90b3f79f3f4d3abbae965e2178bc5b.setContent(html_ea99d61ad9cd40f4a0504e0536535f2f);
        

        circle_7cca41dcf3a948bbb10bf25801a0dc5b.bindPopup(popup_0e90b3f79f3f4d3abbae965e2178bc5b)
        ;

        
    
    
            var circle_cdae5d32f15143669e290f7515d5e157 = L.circle(
                [32.9783, -115.5383],
                {"bubblingMouseEvents": true, "color": "#034efc", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#034efc", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 66000.0, "stroke": true, "weight": 3}
            ).addTo(map_c3237971b6f14f42841c3e5bb0e632df);
        
    
        var popup_f47d9a9f2cb24c8e9521eb2cff656b62 = L.popup({"maxWidth": "100%"});

        
            var html_4ca6cc1e6ecd47cb91a8461b23cc4bc0 = $(`<div id="html_4ca6cc1e6ecd47cb91a8461b23cc4bc0" style="width: 100.0%; height: 100.0%;">Brawley<br> Air Quality Depth: <b>33</b><br> Air Quality: <b>Good</b></div>`)[0];
            popup_f47d9a9f2cb24c8e9521eb2cff656b62.setContent(html_4ca6cc1e6ecd47cb91a8461b23cc4bc0);
        

        circle_cdae5d32f15143669e290f7515d5e157.bindPopup(popup_f47d9a9f2cb24c8e9521eb2cff656b62)
        ;

        
    
    
            var circle_c619c97b7bdf4dc3b3f6b5d34b9bb148 = L.circle(
                [39.768, -104.873],
                {"bubblingMouseEvents": true, "color": "#34eb5e", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#34eb5e", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 44000.0, "stroke": true, "weight": 3}
            ).addTo(map_c3237971b6f14f42841c3e5bb0e632df);
        
    
        var popup_c4d37442200c4fa6ab4206c3b31964f4 = L.popup({"maxWidth": "100%"});

        
            var html_f88bbf17c2804957928ab8640fedae23 = $(`<div id="html_f88bbf17c2804957928ab8640fedae23" style="width: 100.0%; height: 100.0%;">Denver/Boulder<br> Air Quality Depth: <b>22</b><br> Air Quality: <b>Very Heathy</b></div>`)[0];
            popup_c4d37442200c4fa6ab4206c3b31964f4.setContent(html_f88bbf17c2804957928ab8640fedae23);
        

        circle_c619c97b7bdf4dc3b3f6b5d34b9bb148.bindPopup(popup_c4d37442200c4fa6ab4206c3b31964f4)
        ;

        
    
</script>